:root {
  --hover-focus-color-others: #2196f3;
  --hover-focus-color-button: #188ce8;
  --logo-color: #2196f3;
  --title-color-hero: #ffffff;
  --title-color-second: #212121;
  --title-color-third: #212121;
  --text-color: #757575;
  --contacts-color-dark: #757575;
  --contacts-color-light: rgba(255, 255, 255, 0.6);
  --logo-word-dark: #000000;
  --logo-word-light: #ffffff;
  --color-text: #ffffff;
  --border-color: #ececec;
  --background-color: #f5f4fa;
}
body {
  font-family: "roboto", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.title-section {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-second);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.logo > span {
  display: inline-block;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo-word-dark {
  color: var(--logo-word-dark);
}
.logo-word-light {
  color: var(--logo-word-light);
}
.logo-header {
  margin-right: 93px;
}
/*----------------------------main and portfolio page header ---------------------------*/
.main-head,
.portfolio-head {
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.navigation-list {
  display: flex;
  justify-content: center;
  margin-right: 331px;
}
.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-right: 50px;
}
.navigation-item:last-child {
  margin-right: 0px;
}
.navigation-item > a:link,
.navigation-item > a:visited {
  color: var(--title-color-third);
}
.navigation-item > a:hover,
.navigation-item > a:focus {
  color: var(--hover-focus-color-others);
}
.navigation-item > a.link.active {
  color: var(--hover-focus-color-others);
}
.header-contacts-list {
  display: flex;
  justify-content: center;
}
.header-contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
}
.header-contacts-item:last-child {
  margin-right: 0px;
}
.header-contacts-item > a:link {
  color: var(--contacts-color-dark);
}
.header-contacts-item > a:hover,
.header-contacts-item > a:focus {
  color: var(--hover-focus-color-others);
}
/*-----------------------------main page section 1 hero------------------------------*/
.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  background-color: #2f303a;
}
.title-hero {
  display: block;
  margin: 0 auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06;
  color: var(--title-color-hero);
}

.btn-hero {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--hover-focus-color-others);
  color: var(--color-text);
}
.btn-hero:hover,
.btn-hero:focus {
  color: var(--color-text);
  background-color: #188ce8;
}
/*---------------------------main page section 2 features----------------------*/
.features-list {
  display: flex;
}
.features-item {
  width: 270px;
  margin-right: 30px;
}
.features-item:nth-child(4n + 4) {
  margin-right: 0px;
}
.title-features {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color-third);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*  -----main page section 3------------- */
.titlt-what-we-do {
  width: 376px;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: auto;
}
.list-what-we-do {
  display: flex;
}
.item-what-we-do:first-child {
  margin-left: 0px;
}
.item-what-we-do {
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 94px;
  margin-right: 0px;
}

/*-------------------main page section 4 oue team---------------------------*/
.our-team {
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.heading-our-team {
  margin-top: 0px;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: auto;
}
.our-team-item:first-child {
  margin-left: 0px;
}
.our-team-item {
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 94px;
  margin-right: 0px;
}
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03;
  color: var(--title-color-third);
  text-align: center;
}
.our-team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03;
  color: var(--text-color);
  text-align: center;
}
/*--------------------------------main and portfolio footer-------------------*/
.vault {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.vault > a {
  margin-bottom: 20px;
}
.all-contacts-vault {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  font-style: normal;
}

.vault-list {
  padding-left: 0;
}
.vault-item {
  margin-bottom: 9px;
}
.google-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
}
.vault-item > a.link.google-address {
  color: var(--color-text);
}
.vault-item > a.link.google-address:hover,
.vault-item > a.link.google-address:focus {
  color: var(--hover-focus-color-others);
}
.vault-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
}
.vault-item > a:link {
  color: var(--contacts-color-light);
}
.vault-item > a:hover,
.vault-item > a:focus {
  color: var(--hover-focus-color-others);
}
/*-----------------------------portfolio section 1 button----------------------------*/
.head-portfolio {
  margin-bottom: 94px;
}
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item {
  margin-left: 8px;
}
.btn-item:first-child {
  margin-left: 0;
}
.btn {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.63;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.03;
  color: var(--title-color-third);
  background-color: var(--background-color);
}
.btn:hover,
.btn:focus {
  background-color: var(--hover-focus-color-others);
  color: var(--color-text);
}
/*-------------------------portfolio section 2 projects--------------------------------*/
.projects {
  margin-bottom: 94px;
}
.list-project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.item-project {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.title-project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06;
  color: var(--title-color-third);
}
.text-project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03;
  color: var(--text-color);
}
